* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(102,229,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.title {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 200px;
}

.title img {
  width: 700px;
  height: 150px;
}

.container-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  padding: 70px;
  gap: 70px;
  
}

.card {
  background-color: #a4bdd8;
  display: flex;
  align-items: center;
  width: 30%;
  height: 400px;
  border: solid 3px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 20px #000;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  overflow: hidden;
  border-radius: 10px;
}
.card-body h5,
h3 {
  background: none;
}

.card img {
  padding: 10px;
  background-color: #a4bdd8;
  width: 200px;
  height: 200px;
  background-size: cover;
}
